body{
    background-color: #f7f7f7;
    margin: 0 auto;
    font-family: 'Poppins',sans-serif;
    background-color:  #d9d9d9;
}
header {
    background-color: #005FA9;
    color: #fff;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

header img {
    width: 10%;
}

header a {
    font-weight: 600;
    font-size: 20px;
    display:inline;
    float: right;
    padding-top: 10px;
    color: #fff;
    text-decoration: none;
}
 a, button{
    padding: 10px 10px 10px 10px;
 }
 button {
    background-color: white;
    color: #005FA9;
    border-radius: 40px;
    width: 65px;
    height: 35px; 
    border: 2px solid white;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center; 

}
 
 button:hover{
    color: white;
    background-color: #005FA9;
    transition: 200ms linear;
 }

 a:hover{
    text-decoration: underline;
}
